nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
    a.navbar-brand(routerLink='/dashboard')
        | CITI
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0(
        data-cy='topNavToggleSideNav',
        (click)='toggleSideNav()'
    )
        fa-icon([icon]='["fas", "bars"]')