sb-layout-dashboard
    sb-dashboard-head(title='Trade Advice Service', [hideBreadcrumbs]='false')
    sb-card
        .card-body.
            The service bellow provides hold/sell advice for a given stock based on Bollinger Bands.
    sb-advice-form