<sb-layout-dashboard
    ><sb-dashboard-head title="Trade Advice Service" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-card><div class="card-body">The service bellow provides hold/sell advice for a given stock based on Bollinger Bands.</div></sb-card><sb-advice-form></sb-advice-form
></sb-layout-dashboard>
