sb-layout-dashboard
    sb-dashboard-head(title='Live Price Service', [hideBreadcrumbs]='false')
    sb-card
        .card-body.
            The service bellow returns the price for stocks.
    sb-price-form