<sb-layout-dashboard
    ><sb-dashboard-head title="Live Price Service" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-card><div class="card-body">The service bellow returns the price for stocks.</div></sb-card><sb-price-form></sb-price-form
></sb-layout-dashboard>
