<sb-layout-dashboard><sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-tables></sb-dashboard-tables><sb-dashboard-trade></sb-dashboard-trade></sb-layout-dashboard>
