@import 'styles/variables.scss';

thead > tr > th {
    cursor: pointer;
}
thead{
    background: rgb(136, 174, 199)
}

tr:nth-child(even) {background: #8391aa}
tr:nth-child(odd) {background: rgb(40, 81, 196)}