<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" ><span>Ticker</span></th>
            <th scope="col"><span>Price</span></th>
            <th scope="col"><span>Quantity</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries$ | async">
            <th scope="row">{{ country.id }}</th>
            <td><ngb-highlight [result]="country.ticker"></ngb-highlight></td>
            <td><ngb-highlight [result]="country.price | number"></ngb-highlight></td>
            <td><ngb-highlight [result]="country.amount | number"></ngb-highlight></td>
            <td><button type="button" (click)="onDelete(country._id)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>
