<form>
    <div class="form-group row"><label class="col-1 col-form-label" for="example-text-input">Company Ticker</label>
        <div class="col-3"><input class="form-control" id="ticker" #ticker="" type="text" /></div>
    </div>
    <div class="form-group row"><label class="col-1 col-form-label" for="example-date-input">Date</label>
        <div class="col-3"><input class="form-control" id="date" #date="" type="date" /></div>
    </div>
    <div class="form-group row"><label class="col-1 col-form-label" for="example-number-input">Amount</label>
        <div class="col-3"><input class="form-control" id="amount" #amount="" type="number" /></div>
    </div>
    <div class="form-group row"><label class="col-1 col-form-label" for="example-number-input">Price ($)</label>
        <div class="col-3"><input class="form-control" id="price" #price="" type="number" /></div>
    </div>
    <div class="form-group row"><label class="col-1 col-form-label" for="exampleSelect1">Example select</label>
        <div class="col-3">
            <select class="form-control" id="exampleSelect1">
                <option>Created</option>
                <option>Processing</option>
                <option>Filled</option>
                <option>Rejected</option>
            </select>
        </div>
    </div>
    <button type="submit" (click)="onClickMe(ticker.value, date.value, amount.value, price.value)" class="btn btn-primary">Create Trade</button>
</form>