form
  .form-group
    label(for='AMZN') Company Ticker
    input#ticker.form-control(#ticker='', type='ticker', aria-describedby='tickerHelp')
  button.btn.btn-primary((click)='onClickMe(ticker.value)', type='submit') Get Price
  .row.d-flex.justify-content-center
    .col-xl-3.col-md-3
      sb-card-view-details(link='/dashboard', background='bg-primary')
        .card-body Price: {{ price }}
