<form>
    <div class="form-group"><label for="AMZN">Company Ticker</label><input class="form-control" id="ticker" #ticker="" type="ticker" aria-describedby="tickerHelp" /></div>
    <button class="btn btn-primary" (click)="onClickMe(ticker.value)" type="submit">Get Price</button>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-md-3">
            <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Price: {{ price }}</div></sb-card-view-details>
        </div>
    </div>
</form>
