form
  .form-group
    label(for='AMZN') Company Ticker
    input#ticker.form-control(#ticker='', type='ticker', aria-describedby='tickerHelp')
  .form-group
    label(for='10') Number of Days
    input#days.form-control(#days='', type='days')
  button.btn.btn-primary((click)='onClickMe(ticker.value, days.value)', type='submit') Get Advice
  .row.d-flex.justify-content-center
    .col-xl-3.col-md-3
      sb-card-view-details(link='/dashboard', background='bg-primary')
        .card-body Advice: {{ advice }}
