<form>
    <div class="form-group"><label for="AMZN">Company Ticker</label><input class="form-control" id="ticker" #ticker="" type="ticker" aria-describedby="tickerHelp" /></div>
    <div class="form-group"><label for="10">Number of Days</label><input class="form-control" id="days" #days="" type="days" /></div>
    <button class="btn btn-primary" (click)="onClickMe(ticker.value, days.value)" type="submit">Get Advice</button>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-md-3">
            <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Advice: {{ advice }}</div></sb-card-view-details>
        </div>
    </div>
</form>
